
body{
    background-color: black;
    color: white;
    text-align: center;
    font-family: 'Libre Franklin', sans-serif;
}

.link {
    font-family: 'Carrois Gothic SC', sans-serif;
    color: white;
    text-decoration: none;
}

.link:hover 
{
     color: grey; 
     text-decoration:none; 
     cursor:pointer;  
}

.gridImg{
    height:30%;
    width:30%;
}

#gridVideos{
    
    margin: auto;
}

.youtubeVid{
    width: 560px;
    height: 312px;
}

.dotted{
    border: 1.3px dashed white;
}


.title{

}

.subTitle{
    text-align: left;
}

.outerRight{
    left:12%;
    position:relative;
    width:75%;
    height:75%;
    opacity: 1;
    transition: .5s ease;
}
.outerRight:hover{
    left: 15%;
    margin-top:2%;
    box-shadow: -30px -20px 0px blue;
    opacity: 0.65;
}

.outerLeft{
    left:12%;
    position:relative;
    width:75%;
    height:75%;
    opacity: 1;
    transition: .5s ease;
}
.outerLeft:hover{
    left: 9%;
    margin-top:2%;
    box-shadow: 30px -20px 0px blue;
    opacity: 0.65;
}

.innerRight{
    position: absolute;
    left: 85%;
    width: 15%;
    height: 100%;
    background-color:black;
}

.innerLeft{
    position: absolute;
    left: 0%;
    width: 15%;
    height: 100%;
    background-color:black;
}

.innerText{
    font-family: 'Carrois Gothic SC', sans-serif;
    text-align: center;
    vertical-align: middle;
    color: white;
    /*
    text-shadow: 0px 4px red;*/
}

#projectIDOImages{
    display: flex;
}

#projectIDOImagesSide{
    width: 16.45%;
    height: 16.45%;
    margin-left: 0;
}
